<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"{{with .Site.LanguageCode}} xml:lang="{{.}}" lang="{{.}}"{{end}}>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{ hugo.Generator }}

  {{ if .IsHome -}}
  <title>{{ .Site.Title }}</title>
  {{- else -}}
  <title>{{ .Title }} &middot; {{ .Site.Title }}</title>
  {{- end }}

  <meta name="description" content="{{if .IsHome}}{{ $.Site.Params.description }}{{else}}{{.Description}}{{end}}" />

  {{ partial "seo.html" . }}

  <link type="text/css"
        rel="stylesheet"
        href="{{ `css/print.css` | relURL }}"
        media="print">

  <link type="text/css" rel="stylesheet" href="{{ `css/poole.min.css` | relURL }}">

  <link type="text/css" rel="stylesheet" href="{{ `css/hyde.min.css` | relURL }}">

  {{ partial "theme-color.html" . }}

  {{ range $.Site.Params.customCss -}}
  <link type="text/css" rel="stylesheet" href="{{ . | relURL }}">
  {{- end}}

  <link rel="stylesheet" href="{{ `css/font.min.css` | relURL }}">

  <link rel="stylesheet" href="{{ `css/fa.min.css` | relURL }}">


  <link rel="shortcut icon" href="/favicon.png">

  <!-- RSS -->
  {{ range .AlternativeOutputFormats -}}
    {{ printf `<link href="%s" rel="%s" type="%s" title="%s" />` .Permalink .Rel .MediaType.Type $.Site.Title | safeHTML }}
  {{ end -}}
</head>
<body>
  {{ partial "sidebar.html" . }}

  <main class="content container">
  {{ block "main" . -}}{{- end }}
  </main>

  {{ partial "footer.html" . }}

  <script src="{{ `js/fa.min.js` | relURL }}"></script>


  {{ range $.Site.Params.customJs -}}
  <script src="{{ . | relURL }}"></script>
  {{- end}}

</body>
</html>
